{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_top %}
{{ block.super }}
{% if change and has_change_permission %}
    <input type="submit" value="{% trans 'Reset Password to DNI' %}" name="_reset_password" 
           style="background-color: #ffc107; color: #000; margin-left: 10px;" 
           class="default" onclick="return confirmResetPassword();">
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{{ block.super }}
{% if change and has_change_permission %}
    <input type="submit" value="{% trans 'Reset Password to DNI' %}" name="_reset_password" 
           style="background-color: #ffc107; color: #000; margin-left: 10px;" 
           class="default" onclick="return confirmResetPassword();">
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
function confirmResetPassword() {
    return confirm("{% trans '¿Estás seguro que deseas REINICIAR la CONTRASEÑA de este usuario?' %}");
}
</script>
{% endblock %}
